:root{
    --bs-info: #3DE0D7;
    --bs-info-rgb: 61, 224, 215;
}

#cabecera img{
    width: 15%;
}

#cabecera a{
    width: fit-content;
}

#pie img{
    width: 15%;
}

tbody img{
    max-width: 65px;
    min-width: 65px;
    width: 65px;
}

#imgCarrito img{
    max-width: 100px;
    min-width: 100px;
    width: 100px;
}