:root{
    --bs-info: #3DE0D7;
    --bs-info-rgb: 61, 224, 215;
}

#cabecera img{
    width: 15%;
}

#cabecera a{
    width: fit-content;
}

#pie img{
    width: 15%;
}

tbody img{
    max-width: 65px;
    min-width: 65px;
    width: 65px;
}

#imgCarrito img{
    max-width: 100px;
    min-width: 100px;
    width: 100px;
}

/*-----Estilos para el hover y shadow-----*/
.card-hover{
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.5);
}

.card-hover:hover{
    transform: scale(1.01);
    box-shadow: 13px 18px 23px rgba(0, 0, 0, 0.65);
}

.sombra{
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.5);
}



/*-----Estilos para el footer-----*/
html, body{
    min-height: 100vh;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

 main{
    flex: 1 0 auto;
}

footer{
    flex-shrink: 0;
}