<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
 	
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <title>FitCenterBooking</title>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
	<link rel="stylesheet"  href="../static/css/general.css" th:href="@{/css/general.css}">
</head>
<body class="bg-secondary">
	<div th:replace="~{fragments/general :: cabecera}"></div>

	<main>
		<div class="container bg-opacity-75 w-50 rounded-4 my-3 bg-dark p-2 sombra">
			<h1 class="text-center text-white">Nuestras Actividades</h1>
		</div>

		<div th:if="${#lists.isEmpty(listaActividades)}" class="w-50 mx-auto mt-5 px-4 bg-dark bg-opacity-75 p-4 rounded-4 sombra">
            <h3 class="text-info mb-3 border-bottom border-secondary pb-2">
                Actividades registradas
            </h3>                
            <div class="text-center py-5">                        
                <p class="lead text-secondary">Actualmente no contamos con ninguna actividad para reservar.</p>
				<div sec:authorize="hasRole('ADMIN')">
					<a th:href="@{/actividades/nueva}" class="btn btn-outline-success rounded-pill mt-2 fw-bold d-inline-flex align-items-center pe-3 justify-content-center">
						<i class="bi bi-plus fs-3 me-1"></i>
						Añadir Actividad
                	</a>
				</div> 
            </div>
        </div>
		
		<div th:if="${not (#lists.isEmpty(listaActividades))}" class="row justify-content-center g-4 m-3">
			
			<div class="col-md-4 px-4" th:each="actividad : ${listaActividades}">
				<div class="card py-3 px-4 rounded-4 bg-dark bg-opacity-75 text-white text-center card-hover">

					<h2 class="mb-3 text-info" th:text="${actividad.nombre}">Yoga</h2>
					<img th:src="${not (#strings.isEmpty(actividad.imagenUrl))} ? ${actividad.imagenUrl} : @{/img/Defecto.png}" 
						th:alt="${actividad.nombre}" class="rounded-4 mb-3 w-100 h-100 mx-auto">
						
					<p class="fw-bold mb-1">
						Capacidad: 
						<span th:text="${actividad.capacidad}">0</span>
					</p>
					<p class="fw-bold mb-0">
						<span th:text="${#numbers.formatDecimal(actividad.precio, 1, 2)}">0.00</span>
						€/sesión
					</p>

					<a type="button" class="btn btn-outline-light mx-auto my-3 w-75" 
						th:href="@{/actividad/{id}(id=${actividad.id})}">Ver Detalles y Reservar
					</a>
				</div>
			</div>
		</div>
	</main>

	<div th:replace="~{fragments/general :: pie}"></div>
</body>
</html>